//backgrounds color
$main_background_color: rgba(36, 36, 36, 1);
$background_color_LG: rgba(64, 64, 64, 1);

//font color
$text_color_LG: rgba(152, 146, 146, 1);
$text_color_W: rgb(237, 228, 228);

//font size
$font_size_S: 14px;
$font_size_M: 16px;