.search_bar {
    background-color: global.$background_color_LG;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 370px;
    border-radius: 10px;
    overflow: hidden;
    color: global.$text_color_LG;
}

.input_container {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.search_input {
    width: 100%;
    padding: 10px 40px;
    background-color: global.$background_color_LG;
    flex: 1;
    color: global.$text_color_LG;
    font-size: global.$font_size_M;
    &::placeholder {
        font-size: global.$font_size_M;
        color: global.$text_color_LG;
        opacity: 1;
    }
    border: none;
    outline: none;
}

.search_icon {
    position: absolute;
    left: 10px; 
}

.search_button {
    background-color: global.$background_color_LG;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
    padding: 10px;
}
